<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="  font-family: 'Exo 2';">Glosario</h1>
            <br>
            <br>
            <table class="table table-striped table-hover text-justify">
                <tr class="tableizer-firstrow">
                    <th class="col-xs-2">Término</th>
                    <th>Definición</th>
                    <th class="col-xs-2">Fuente</th>
                </tr>
                <tr>
                    <td>Anteproyecto de NOM</td>
                    <td>Las dependencias son las encargadas de elaborar anteproyectos de NOM para que los CCNN elaboren los proyectos de nuevas normas. Los temas a regular deben provenir del Programa Nacional de Normalización. </td>
                    <td>IMCO con base en la LFMN</td>
                </tr>
                <tr>
                    <td>Comisión Federal de Mejora Regulatoria (COFEMER)</td>
                    <td>Es la agencia del gobierno federal encargada de impulsar la política de mejora regulatoria en el país. El mandato de la COFEMER es promover la transparencia en la elaboración y aplicación de las regulaciones y que éstas generen beneficios superiores a sus costos y el máximo beneficio para la sociedad. </td>
                    <td>COFEMER</td>
                </tr>
                <tr>
                    <td>Comité Consultivo Nacional de Normalización (CCNN)</td>
                    <td>Son los órganos encargados de elaborar las NOMs, además de promover su cumplimiento. Son presididos por la dependencia competente y se integran por personal técnico de las dependencias, por organizaciones de industriales, prestadores de servicios, comerciantes, centros de investigación científica o tecnológica, colegios de profesionales y consumidores.</td>
                    <td>Secretaría de Economía</td>
                </tr>
                <tr>
                    <td>Dependencias</td>
                    <td>Las autoridades federales responsables de la regulación o control del producto, servicio, método, proceso o instalación, actividad o materia a normalizarse, según sus respectivas atribuciones. </td>
                    <td>LFMN</td>
                </tr>
                <tr>
                    <td>Diario Oficial de la Federación (DOF)</td>
                    <td>Es el órgano gubernamental que tiene la función de publicar en el territorio nacional: leyes, reglamentos, acuerdos, circulares, órdenes y demás actos expedidos por los poderes de la Federación, a fin de que éstos sean observados y aplicados debidamente en sus respectivos ámbitos de competencia.</td>
                    <td>DOF</td>
                </tr>
                <tr>
                    <td>Manifestación de Impacto Regulatorio (MIR)</td>
                    <td>Es una herramienta de política pública que tiene por objeto garantizar que los beneficios de las regulaciones sean superiores a sus costos. La MIR permite analizar sistemáticamente los impactos potenciales de los instrumentos regulatorios para la toma de decisiones gubernamentales, fomentando que éstos sean más tranparentes y racionales.</td>
                    <td>COFEMER</td>
                </tr>
                <tr>
                    <td>Modificación a una NOM</td>
                    <td>Son cambios o actualizaciones que se hacen a una NOM. Las modificaciones deben realizarse de acuerdo al procedimiento de elaboración de una NOM cuando pretendan crear nuevos requisitos o procedimientos, o bien, incorporar especificaciones más estrictas. Las NOMs pueden modificarse o cancelarse sin seguir el procedimiento indicado si ya no existen los motivos que propiciaron la creación de la norma. </td>
                    <td>IMCO con base en la LFMN</td>
                </tr>
                <tr>
                    <td>Norma Oficial Mexicana (NOM)</td>
                    <td>La regulación técnica de observancia obligatoria expedida por las dependencias competentes que establece reglas, especificaciones, atributos, directrices, características o prescripciones aplicables a un producto, proceso, instalación, sistema, actividad, servicio o método de producción u operación, así como aquellas relativas a terminología, simbología, embalaje, marcado o etiquetado y las que se refieran a su cumplimiento o aplicación.</td>
                    <td>LFMN</td>
                </tr>
                <tr>
                    <td>Otros documentos</td>
                    <td>Integra todos las publicaciones que complementan la información y regulación de una NOM (aclaraciones, acuerdos, anexos, apéndices, autorizaciones, avisos, circulares, comentarios, convocatorias, criterios, declaratorias, fe de erratas, métodos, notas, oficios, procedimientos y resoluciones, entre otras).</td>
                    <td>IMCO</td>
                </tr>
                <tr>
                    <td>Programa Nacional de Normalización (PNN)</td>
                    <td>Es el instrumento informativo y de planeación que enlista los temas que serán desarrollados como Normas Oficiales Mexicanas (NOMs), Normas Mexicanas (NMX) y normas de referencia (NRF) durante cada año.</td>
                    <td>Secretaría de Economía</td>
                </tr>
                <tr>
                    <td>Proyecto de modificación a una NOM</td>
                    <td>El proceso de modificación de una NOM es el mismo que el de la creación de una norma, por lo que este documento expone las consideraciones, objetivos y especificaciones sobre los cambios que se planean realizar a una NOM. Su objetivo es obtener comentarios del público interesado para evaluar si procede o no la modificación a la regulación vigente. </td>
                    <td>IMCO con base en la LFMN</td>
                </tr>
                <tr>
                    <td>Proyecto de NOM</td>
                    <td>Muestran las especificaciones técnicas de una regulación, así como los objetivos, consideraciones, definiciones, referencias y métodos de prueba, así como las formas de verificación y certificación. Los proyectos muestran el trabajo elaborado en los CCNN de acuerdo a los anteproyectos de NOM y se publican en el DOF para que el público interesado presente sus comentarios antes de emitir la regulación final. </td>
                    <td>IMCO con base en la LFMN</td>
                </tr>
                <tr>
                    <td>Respuestas a comentarios</td>
                    <td>Es la réplica que dan los CCNN a las preguntas del publico en general después de la publicación de un proyecto. </td>
                    <td>IMCO con base en la LFMN</td>
                </tr>
            </table>
        </div>
    </div>
</div>
