<!-- <div data-ng-controller="NormasCtrl"> -->
<div data-ng-include="'views/_filtro_tabuladores.html'"></div>

<div class="container">
	<div class="row">

	</div>
	<br/><br/>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default panel-norma" data-ng-click="accederNorma('NOM-123-YYYYY-AAA')">
				<div class="panel-body">
					<h3>NOM-123-XXXXX-AAAA</h3>
					<p>
						The GTAP Model also gives users a wide range of closure options, including unemployment, tax revenue replacement and fixed trade balance closures, and a selection of partial equilibrium closures (which facilitate comparison of results to studies based on partial equilibrium assumptions). 
					</p>
					<p>
						<ul class="list-inline">
							<li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></li>
							<li><a href="">SAGARPA</a></li>
							<li><a href="">SAGARPA</a></li>
						</ul>
					</p>		
					<p>
						<ul class="list-inline">
							<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></li>
							<li>13-02-1990</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="panel panel-default panel-norma" data-ng-click="accederNorma('NOM-123-YYYYY-AAA')">
				<div class="panel-body">
					<h3>NOM-123-XXXXX-AAAA</h3>
					<p>
						The GTAP Model also gives users a wide range of closure options, including unemployment, tax revenue replacement and fixed trade balance closures, and a selection of partial equilibrium closures (which facilitate comparison of results to studies based on partial equilibrium assumptions). 
					</p>
					<p>
						<ul class="list-inline">
							<li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></li>
							<li><a href="">SAGARPA</a></li>
							<li><a href="">SAGARPA</a></li>
						</ul>
					</p>		
					<p>
						<ul class="list-inline">
							<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></li>
							<li>13-02-1990</li>
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- 	
</div>
 -->