<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-norma">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Norma Oficial Mexicana</h4>
                            <h3 class="nom-titulo">{{claveActual}}</h3>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Fecha publicación</h4>
                            <h3>{{normaActualDetalle.fecha}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Dependencias</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <button class="btn btn-nom " data-ng-repeat="elem in normaActual.comite" data-ng-click=" irComite(elem.secretaria,'')">{{::elem.secretaria}}</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-8">
                            <h4 class="nom-subtitulo">Título</h4>
                            <p>
                                {{normaActualDetalle.titulo}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Comités</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <button class="btn btn-nom btn-nom-blanco" data-ng-repeat="elem in normaActual.comite " data-ng-click="irComite(elem.secretaria, elem.comite) ">{{::elem.comite}}</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="nom-subtitulo">Rama económica</h4>
                            <p>
                                <div data-ng-repeat="elem in normaActual.rama">
                                    {{::elem}} </div>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="nom-subtitulo">Bien o servicio regulado</h4>
                            <p>
                                <div data-ng-repeat="elem in normaActual.producto">
                                    {{::elem}} </div>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="nom-subtitulo">Linea de tiempo</h4>
                            <br/>
                            <div class="contenedor-histograma">
                                <div id="histograma">
                                    <div class="linea"></div>
                                    <ul class="list-inline">
                                        <li data-ng-repeat="elem in normaActual.historial">
                                            <div class="etiquta">
                                                {{elem.etiqueta}}
                                            </div>
                                            <div class="contenedor" data-ng-class="seleccionaCategoriaNOM(elem.etiqueta)" tooltip-html-unsafe="{{'<strong>Tipo:</strong> '+seleccionaNombreNOM(elem.etiqueta) + '<br/><strong>Fecha:</strong> '+elem.fecha}}" tooltip-placement="bottom">
                                                <span class="{{::'icon-'+seleccionaIcono(elem.etiqueta) }}"></span>
                                            </div>
                                            <div class="fecha">
                                                {{elem.fecha}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-norma">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="nom-subtitulo">Historial</h4>
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Tipo</th>
                                        <th class="col-xs-1">Fecha</th>
                                        <th>Título</th>
                                        <th>Enlace</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="elem in normaActual.historial">
                                        <td>{{::$index+1}}</td>
                                        <td><span class="{{::'icon-'+seleccionaIcono(elem.etiqueta) }}"></span></td>
                                        <td>{{::seleccionaNombreNOM(elem.etiqueta)}}</td>
                                        <td>{{::elem.fecha}}</td>
                                        <td>{{::elem.entity2char}}</td>
                                        <!--        <td><a data-ng-href="{{'http://diariooficial.gob.mx/nota_detalle.php?codigo='+ elem.cod_nota+ '&fecha='+ elem.fecha.replace(guionRex,'/')}}">Link a DOF</a></td> -->
                                        <td><a data-ng-href="{{elem.url}}" target="_blank">Link a DOF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
