<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-norma">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Norma Oficial Mexicana</h4>
                            <h3 class="nom-titulo">{{normaActual.clave}}</h3>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="nom-subtitulo">Fecha publicación</h4>
                            <h3>{{normaActual.fecha_publicacion}}</h3>
                        </div>
                        <div class="col-sm-2 col-sm-offset-2">
                            <h4 class="nom-subtitulo">Compartir</h4>
                            <ul class="list-inline">
                                <li style="cursor:pointer" data-ng-click="facebook('a')">
                                    <div class="aux  aux-nav facebook" tooltip-placement="bottom" tooltip="¡Comparte NOM en Facebook!"><span class="icon-facebook"></span></div>
                                </li>
                                <li style="cursor:pointer" data-ng-click="tweet('twitter')">
                                    <div class="aux aux-nav twitter" tooltip-placement="bottom" tooltip="¡Comparte NOM en Twitter!"><span class="icon-twitter"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="nom-subtitulo">Título</h4>
                            <p class="text-justify">
                                {{normaActual.titulo}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="nom-subtitulo">Organismo</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <button class="btn btn-nom btn-nom-blanco" data-ng-click="irONN(normaActual.onn_slug) ">{{::normaActual.onn}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="nom-subtitulo">CTNN</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <button class="btn btn-nom btn-nom-blanco" data-ng-click="irCTNN(normaActual.ctnn_slug) ">{{::normaActual.ctnn}}</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="nom-subtitulo">Rama económica</h4>
                            <p>
                                <div>
                                    {{::normaActual.rama_economica}} </div>
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="nom-subtitulo">Producto regulado</h4>
                            <p>
                                <div>
                                    {{::normaActual.producto}} </div>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="nom-subtitulo">Linea de tiempo</h4>
                            <br/>
                            <div class="contenedor-histograma">
                                <div id="histograma">
                                    <div class="linea"></div>
                                    <ul class="list-inline">
                                        <li data-ng-repeat="elem in normaActual.menciones">
                                            <div class="etiquta">
                                                {{elem.etiqueta}}
                                            </div>
                                            <div class="contenedor" data-ng-class="seleccionaCategoriaNOM(elem.etiqueta)" tooltip-html-unsafe="{{'<strong>Tipo:</strong> '+seleccionaNombreNOM(elem.etiqueta) + '<br/><strong>Fecha:</strong> '+elem.nota.diario.fecha}}" tooltip-placement="bottom">
                                                <span class="{{::'icon-'+seleccionaIcono(elem.etiqueta) }}"></span>
                                            </div>
                                            <div class="fecha">
                                                {{elem.nota.diario.fecha}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-norma">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="nom-subtitulo">Historial</h4>
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Tipo</th>
                                        <th class="col-xs-1">Fecha</th>
                                        <th>Título</th>
                                        <th>Enlace</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="elem in normaActual.menciones">
                                        <td>{{::$index+1}}</td>
                                        <td><span class="{{::'icon-'+seleccionaIcono(elem.etiqueta) }}"></span></td>
                                        <td>{{::seleccionaNombreNOM(elem.etiqueta)}}</td>
                                        <td>{{::elem.nota.diario.fecha}}</td>
                                        <td class="text-justify">{{::elem.nota.titulo}}</td>
                                        <!--        <td><a data-ng-href="{{'http://diariooficial.gob.mx/nota_detalle.php?codigo='+ elem.cod_nota+ '&fecha='+ elem.fecha.replace(guionRex,'/')}}">Link a DOF</a></td> -->
                                        <td><a data-ng-href="{{elem.nota.diario.availablePdf}}" target="_blank">Link a DOF</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
