<div class="container-fluid filtros-nom" style="height:110%; min-height:110vh; ">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-xs-4">
                <img src="images/nom.png" class="img-responsive" alt="NOM">
                <a style="margin-left:0px;" class="btn btn-nom btn-block btn-huge" href="http://nom.imco.org.mx/#/">NOMs</a>
            </div>
            <div class="col-xs-4">
                <img src="images/nmx.png" class="img-responsive" alt="NMX">
                <a style="margin-left:0px;" class="btn btn-nom btn-block btn-huge" href="http://nmx.imco.org.mx/#/">NMXs</a>
            </div>
            <div class="col-xs-4">
                <img src="images/prox.png" class="img-responsive" alt="normas_proximamente">
                <a style="margin-left:0px;" class="btn btn-nom btn-block btn-huge" href="http://normas.org.mx/#/">Otras Normas</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-12" style="color: white; font-size: 2rem; ">
                <p>
                    Este sitio concentra toda la información relacionadas a las Normas Oficiales Mexicanas (NOM's) y Normas Mexicanas (NMX's) vigentes, de acuerdo a la publicación del Diario Oficial de la Federación (DOF).
                </p>
                <p>
                    Esta plataforma se actualiza automáticamente todos los días. Fue elaborada por el Instituto Mexicano para la Competitividad (IMCO) con financiamiento de la Agencia USAID y la Dirección General de Normas (DGN) de la Secretaria de Economía.
                </p>
            </div>
        </div>
    </div>
</div>
