<div class="container-fluid filtros-nom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <h2>NOMs POR DEPENDENCIA</h2>
                <button class="btn btn-sm">SEMARNAT</button>
                <button class="btn btn-sm">SEMARNAT</button>
                <button class="btn btn-sm">SEMARNAT</button>
                <button class="btn btn-sm">SEMARNAT</button>
                <button class="btn btn-sm">SEMARNAT</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>NOMs POR TIPO DE BIEN O SERVICIO</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px; width:100%;">
                    <ui-select-match placeholder="BIEN O SERVICIO">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
							        email: {{person.email}}
							        age:
							         <span ng-bind-html="''+person.age | highlight: $select.search"></span>
							      </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label class="col-sm-4 ">{{seleccion.tipo || 'Ejemplo: agua, trigo, semillas...'}}</label>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>NOMs POR TIPO DE BIEN O SERVICIO</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px; width:100%;">
                    <ui-select-match placeholder="RAMA ECONÓMICA">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                        <div ng-bind-html="person.name | highlight: $select.search"></div>
                        <small>
							        email: {{person.email}}
							        age:
							         <span ng-bind-html="''+person.age | highlight: $select.search"></span>
							      </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <label class="col-sm-4 ">{{seleccion.tipo || 'Ejemplo: agricultura, pesca, hospitales...'}}</label>
        </div>
        <div class="row">
            <br>
            <br>
            <div class="col-xs-12">
                <button class="btn btn-LG">BUSCAR</button>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
