div.contenedor-histograma{
	//overflow-x:auto; 
	min-height: 140px;
	overflow: auto;
  	overflow-y: hidden;
  	overflow-x: auto;
}

#histograma{
	width: 100%;
	height: 110px;
	//position: relative;
	//overflow-x: scroll;
	div.linea{
		width: 93%;
		margin: 0 auto;
		position: absolute;
		z-index: 1;
		border: 1px solid silver;
		top: 52%;
		text-align: center;
		left: 3%;
	}
	ul{
		height: 100%;
		position: relative;
		z-index: 99;
		display: table;
		width: 100%;
		//height: 100px;
		scroll: auto;

		li{
			display: table-cell; 
			vertical-align: middle;
			text-align: center;
			min-width: 110px;
			width: 110px;
			position: relative;
			div.fecha {
			/*   position: absolute;
			  min-width: 72px;
			  bottom: -36%;
			  left: 23%; */
			    position: absolute;
				width: 100%;
				text-align: center;
				bottom: 0px;
			}
			div.etiquta{
				width: 100%;
				height: 40px;
				position: absolute;
				min-width: 110px;
				top: -5px;
				margin-top:3px;
				//left: 28%;
			}
			div.contenedor{
				margin: 0 auto;
				position: relative;
				background-color: green;
				width: 40px;
				height: 40px;
				border-radius: 30px;
				span{
					position: absolute;
					top: 31%;
					left: 30%;
					color: white;
					font-size: 16px;
				}
				&.nom{
					width: 57px;
					height: 57px;
					background-color: #01CD9A;
					span{
						position: absolute;
						top: 26%;
						left: 26%;
						color: white;
						font-size: 27px;
					}
				}
				$categorias: nulo,proymod,proymnom,otros,nom,resp,mod,cancel,mir;
				$colores: #01CD9A, #00C02A, #01CD9A, #084EA7, #FE9D00, #FE5F00, #1363CA, #75003e,purple;

				@for $i from 1 through length($categorias) {
					&.#{nth($categorias,$i)}{
						background-color: #{nth($colores,$i)};
					}
				}

			}
		}
	}
}
